<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inflación media en España</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
        }
        h1 {
            font-size: 24px;
            margin: 30px 0;
        }
        img {
            max-width: 100%;
            height: auto;
        }

    </style>
</head>
<body>
<h1>Inflación media en España (2003-2022)</h1>
<img src="{{ url_for('inflacion') }}" alt="Gráfico de inflación">
</body>
</html>
